.container {
    width: 715px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 50%;
}

.changer {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.regFields {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.addBtn {
    display: block;
    min-width: 50px;
    height: 25px;
    color: white;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    font-weight: bold;
    margin: 10px auto;
    outline: none;
}

.addBtn:hover {
    border: 1px solid black;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.displayName {
    width: 50%;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    color: black;
    cursor: pointer;
    text-Decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
}

.online {
    width: 30%;
    min-height: 500px;
    border: 1px solid black;
    text-align: center;
}

.chat {
    width: 60%;
}

.messages {
    border: 1px solid black;
    height: 400px;
    overflow: scroll;
    margin-bottom: 20px;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-thumb {
    background: #888;
}

.messages::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sendBlock {
    display: flex;
    justify-content: space-between;
}

.text {
    resize: none;
    min-width: 350px;
    border: 1px solid black;
    min-height: 73px;
    outline: none;
}

.sendBtn {
    min-height: 73px;
    width: 60px;
    color: black;
    background: white;
    border: 1px solid black;
    font-weight: bold;
    outline: none;
    transition: 0.3s;
}

.sendBtn:hover {
    background: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
}

.sendBtn:active {
    color: dodgerblue;
    background: white;
    border: 1px solid black;
}